
@using sReportsV2.Common.Constants;

<div class="modal fade personnel-team-modal" id="personnelTeamModal" role="dialog" aria-labelledby="personnelTeamModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content modal-content-password">
            <div class="float-right filter-close-btn">
                <img alt="" class="close-modal" src="/css/img/icons/close_black.svg">
            </div>
            <div id="modal-body-personnel-team" class="modal-body">

            </div>

        </div>
    </div>
</div>