@await Html.PartialAsync("OrganizationCommunicationEntityFilter")

<div id="orgCommunicationTable" class="table-responsive unset-overflow-x">
    @await Html.PartialAsync("OrganizationCommunicationEntityTable")
</div>