

<div class="modal fade " id="formInstanceHistoryModal" tabindex="-1" role="dialog" aria-labelledby="formInstanceHistoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered w-50">
        <div class="modal-content">
            <div class="float-right filter-close-btn">
                <img alt="" class="close-modal" src="/css/img/icons/close_black.svg">
            </div>
            <div id="form-instance-history-modal-body" class="modal-body pl-5 pr-5">
                @Html.PartialAsync("~/Views/FieldInstanceHistory/FormInstanceHistoryFilters.cshtml")

                <div id="form-instance-history-container" class="w-100">
                </div>
            </div>

        </div>
    </div>
</div>