@using sReportsV2.Common.Helpers;

@{
    ViewBag.Title = @sReportsV2.Cache.Resources.TextLanguage.Administative_data;
    var userCookieData = ViewBag.UserCookieData;
}

@await Html.PartialAsync("Breadcrumb", new ViewDataDictionary(ViewData) { { "level1", @sReportsV2.Cache.Resources.TextLanguage.Administative_data }, { "activeLevel", 1 } })

<div class="table-container border-0">
    <div class="header header-new">
        Api requests
    </div>
    @await Html.PartialAsync("AdministrationApiFilterGroup")

    <div id="tableContainer">

    </div>
</div>
@await Html.PartialAsync("AdvancedFilterModal")

<script>
    var defaultFilter = @Html.Raw(Json.Serialize(ViewBag.FilterData));
</script>
@Html.Raw(ScriptHelper.RenderBundle("js/administrationApiGetAll-bundle.min.js"))