.field-history-input-search {
  background-image: url(../img/icons/search_green.svg);
  background-repeat: no-repeat;
  background-position-y: 48%;
  background-position-x: 98%;
  padding-left: 1rem;
}

.field-history-user-select2-container .select2-container .select2-selection--single {
  height: 40px;
}

.field-history-card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.field-history-card-header .field-history-label-btn {
  background: url(../img/icons/arrow_down_gray.svg);
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 12px;
  background-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  color: #1c94a3;
  font-weight: 600;
  text-decoration: none;
}
.field-history-card-header .field-history-label-btn:hover {
  color: #03626e;
  text-decoration: underline;
}
.field-history-card-header .field-history-label-btn:focus {
  text-decoration: underline;
  box-shadow: none;
}
.field-history-card-header .field-history-label-btn[aria-expanded=true] {
  background: url(../img/icons/arrow_up_gray.svg);
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 12px;
  background-size: 16px;
}

.field-history-card-body {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.field-history-step-bg-color {
  background-color: #f9f9f9;
}

.field-history-fieldset-header {
  background: #1c94a3;
  color: whitesmoke;
}
