.show-hidden-fields {
    opacity: 0.4;
    pointer-events: none;

    .always-click-action {
        pointer-events: auto;
    }
}

.file-name-text {
    padding-right: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}