/*$color-blue: #12707C;*/
.scroll-list-container {
  border-bottom: 1px solid #DFDFDF;
  height: 2rem;
  overflow: visible;
  display: flex;
}
.scroll-list-container .scroll-list {
  max-width: 80%;
  overflow: hidden;
}
.scroll-list-container .scroll-list-width-100 {
  max-width: 100%;
  overflow: hidden;
}
.scroll-list-container .scroll-list-item, .scroll-list-container .scroll-list-tab, .scroll-list-container .load-more-scroll-list-items {
  cursor: pointer;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px white solid;
}
.scroll-list-container .scroll-list-item.selected, .scroll-list-container .selected.scroll-list-tab, .scroll-list-container .selected.load-more-scroll-list-items {
  border-bottom: 2px #1C94A3 solid;
}
.scroll-list-container .scroll-list-item .scroll-list-item-title, .scroll-list-container .scroll-list-tab .scroll-list-item-title, .scroll-list-container .load-more-scroll-list-items .scroll-list-item-title {
  color: black;
  font-size: 14px;
  font-family: Nunito Sans, sans-serif;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 180px;
}
.scroll-list-container .scroll-list-item .scroll-list-item-title:hover, .scroll-list-container .scroll-list-tab .scroll-list-item-title:hover, .scroll-list-container .load-more-scroll-list-items .scroll-list-item-title:hover {
  color: #1C94A3;
}
.scroll-list-container .scroll-list-item .scroll-list-item-title.no-max-width-limit, .scroll-list-container .scroll-list-tab .scroll-list-item-title.no-max-width-limit, .scroll-list-container .load-more-scroll-list-items .scroll-list-item-title.no-max-width-limit {
  max-width: 100% !important;
}
.scroll-list-container .scroll-list-arrow {
  cursor: pointer;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.scroll-list-container .scroll-list-arrow.scroll-list-arrow-left {
  content: url("../img/icons/arrow_scroll_left.svg");
}
.scroll-list-container .scroll-list-arrow.scroll-list-arrow-right {
  content: url("../img/icons/arrow_scroll_right.svg");
}
.scroll-list-container .load-more-scroll-list-items {
  color: #1C94A3 !important;
}
.scroll-list-container .load-more-scroll-list-items .scroll-list-item-title {
  color: #1C94A3;
}
.scroll-list-container .load-more-scroll-list-items:hover {
  text-decoration: underline;
}
.scroll-list-container .item-spacer {
  width: 37px;
  float: right;
  padding: 10px;
  margin: -4px;
}

.add-list-btn {
  background: none;
  color: #1C94A3;
  font-size: 14px;
  font-family: Nunito Sans, sans-serif;
  font-weight: 600;
  white-space: nowrap;
}
.add-list-btn:hover {
  color: #1C94A3;
}

.scroll-list-dropdown-item {
  font-size: 13px;
  word-wrap: break-word;
  display: flex;
}
.scroll-list-dropdown-item:hover img {
  filter: brightness(0) saturate(100%) invert(43%) sepia(53%) saturate(578%) hue-rotate(138deg) brightness(100%) contrast(98%);
}
.scroll-list-dropdown-item .icon-container {
  width: 1rem;
}

.scroll-list-modal-icon {
  width: 1.5rem;
  margin-right: 0.5rem;
  filter: brightness(0) saturate(100%) invert(43%) sepia(53%) saturate(578%) hue-rotate(138deg) brightness(100%) contrast(98%);
}

.segmented-btn-group {
  background-color: #F0F1F1;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem !important;
}
.segmented-btn-group .segmented-btn {
  background: #F0F1F1;
  color: black !important;
  font-size: 14px;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem !important;
  border-color: #F0F1F1 !important;
  margin-right: 0.1rem;
}
.segmented-btn-group .segmented-btn:focus, .segmented-btn-group .segmented-btn.pressed {
  background: #FFFFFF !important;
  box-shadow: none !important;
  border-color: #CED4DA !important;
}
.segmented-btn-group .segmented-btn:active {
  background: #FFFFFF !important;
  box-shadow: none !important;
}
.segmented-btn-group .segmented-btn:hover {
  z-index: unset;
}
.segmented-btn-group .segmented-btn:last-child {
  margin-right: unset !important;
}

.smart-onc-alert-info {
  color: #1C94A3;
  background-color: #E8FCFF;
  border-color: #E8FCFF;
}

.dropdown-title {
  max-height: 30px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  max-width: 180px;
}

.flex {
  display: flex;
}

.black {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  color: #000000;
}

.mt20px {
  margin-top: 20px;
}

.hr {
  margin: 0px -30px 0px -30px;
  border-top: 1px solid #dfdfdf;
}

.patient-info {
  padding-left: 19px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 0px;
  text-align: left;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #565656;
  letter-spacing: 0.8px;
}

.top-title-div .top-title-p {
  margin-bottom: 15px;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.264px;
  color: #000000;
  padding: 0px;
}

.patient-container {
  border-right: 1px solid #dfdfdf;
  margin-left: -27px;
  background: #F9F9F9;
  padding-left: 8px;
  display: block;
  position: relative;
  min-height: calc(100vh - 159px);
  height: auto;
  min-width: 350px;
  max-width: 350px;
}

.hidden {
  display: none;
}

.document-subtitle {
  position: relative;
}

.patient-subtitle-div {
  position: relative;
  margin-bottom: 12.5px;
}
.patient-subtitle-div .editpatient-div {
  margin-left: auto;
  margin-right: 0;
  padding-right: 15px;
  padding-top: 6px;
}
.patient-subtitle-div .editpatient-div .edit-patient-button {
  border: none;
  padding: 0;
  color: #1C94A3;
  background: none;
  box-shadow: none;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  line-height: 19px;
  padding-bottom: 13px;
}
.patient-subtitle-div .patient-title {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 0;
}
.patient-subtitle-div .browse {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #1C94A3;
  padding-top: 10px;
  padding-bottom: 11px;
  padding-right: 15px;
  padding-left: 68px;
  margin-bottom: 0;
}

.patient-filter-label {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.8px;
  /*text-transform: uppercase;*/
  color: #565656;
  padding-bottom: 3px;
  padding-top: 4px;
  padding-left: 1px;
}

.patient-info-div {
  width: 250px;
  margin-left: 0;
}
.patient-info-div .patient-info-value {
  padding-top: 6px;
  padding-bottom: 5px;
  margin-bottom: 0px;
  text-align: right;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  overflow: hidden;
  text-overflow: ellipsis;
}

.patient-trial-div {
  display: flex;
}
.patient-trial-div .radio {
  margin-top: 4px;
  margin-left: 19px;
  margin-right: 10px;
  width: 18px;
  height: 18px;
  padding: 4px;
}
.patient-trial-div .trial-text-value {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 2px;
}

.trial-name-div {
  margin-bottom: 8px;
  margin-top: 8px;
}
.trial-name-div .label {
  padding-top: 8px;
  padding-left: 20px;
  padding-bottom: 4px;
}
.trial-name-div .fg {
  margin-bottom: 0;
}
.trial-name-div .fc {
  margin-left: 19px;
  margin-right: 16px;
  margin-bottom: 11px;
  width: 215px !important;
  height: 40px;
  -moz-appearance: none; /*Firefox*/
  -webkit-appearance: none; /*Safari and Chrome*/
  background-image: url(../img/icons/select_custom_arrow.svg);
  background-repeat: no-repeat;
  background-position-x: 96%;
  background-position-y: 15px;
  text-indent: 1px;
  text-overflow: "";
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}
.trial-name-div select {
  appearance: none;
}

.eoc-document {
  margin-right: -57px;
  background: #F9F9F9;
  min-height: calc(100vh - 159px);
  padding-left: 12px;
}

.epsiodeofcares-info {
  width: 100% !important;
}

.eoc-info {
  width: calc(100% - 350px);
  background: white;
}
.eoc-info .eoc-title {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 13px;
}
.eoc-info .eoc-p-title {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  color: #565656;
  margin-bottom: 2px;
}
.eoc-info .enc-title {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  padding-top: 8px;
}
.eoc-info .enc-p-title {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  color: #565656;
  margin-bottom: 2px;
}
.eoc-info .eocname-fg {
  width: 300px;
  margin-bottom: 0;
  margin-right: 10px;
}
.eoc-info .eocname-fg .eoc-fc {
  height: 35px;
}
.eoc-info .eocstatus-fg {
  width: 200px;
  margin-right: 10px;
  margin-bottom: 0;
}
.eoc-info .eocstatus-fg .selectarrow {
  -moz-appearance: none; /*Firefox*/
  -webkit-appearance: none; /*Safari and Chrome*/
  background-image: url(../img/icons/select_custom_arrow.svg);
  background-repeat: no-repeat;
  background-position-x: 96%;
  background-position-y: 15px;
  text-indent: 1px;
  text-overflow: "";
}

.edit-eoc-info {
  width: calc(100% - 350px);
  margin-right: -30px;
}
.edit-eoc-info .eoc-title {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 13px;
}
.edit-eoc-info .eoc-p-title {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  color: #565656;
  margin-bottom: 2px;
}
.edit-eoc-info .eocname-fg {
  width: 300px;
  margin-bottom: 0;
  margin-right: 10px;
}
.edit-eoc-info .eocname-fg .eoc-fc {
  height: 35px;
}
.edit-eoc-info .eocstatus-fg {
  width: 200px;
  margin-right: 10px;
  margin-bottom: 0;
}
.edit-eoc-info .eocstatus-fg .selectarrow {
  -moz-appearance: none; /*Firefox*/
  -webkit-appearance: none; /*Safari and Chrome*/
  background-image: url(../img/icons/select_custom_arrow.svg);
  background-repeat: no-repeat;
  background-position-x: 96%;
  background-position-y: 15px;
  text-indent: 1px;
  text-overflow: "";
}

.btn-filter {
  background-color: #1C94A3 !important;
  /*width: 64px;*/
  height: 35px;
  margin-top: 15px;
  /*margin-right: 786px;*/
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  padding: 7px 11px 9px 15px;
  border: 0px;
}

.btn-add {
  background-color: #fe5959 !important;
  height: 40px !important;
  margin-top: 0px;
  margin-left: auto;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  padding: 9px 10px 8px 8px;
  border: 0px;
}

.btn-add:hover {
  color: #FFFFFF;
}

.btn-div {
  text-align: right;
}

.eoc-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3px;
}
.eoc-container .eoc {
  width: 500px;
  max-height: 80px;
  background-color: #F9F9F9;
  border: 1px solid #DFDFDF;
  border-radius: 3px;
  margin-bottom: 15px;
  margin-right: 15px;
  cursor: pointer;
}
.eoc-container .eoc .eoc-logo {
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 14px;
  width: 19px;
  height: 25px;
}
.eoc-container .eoc .mr21 {
  margin-right: 21px;
}
.eoc-container .eoc .eoc-tt {
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  margin-top: 12px;
  margin-bottom: 7px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden !important;
}
.eoc-container .eoc .numofentries {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.833333px;
  text-transform: uppercase;
  color: #565656;
  margin-right: 21px;
}
.eoc-container .eoc .numofentries em {
  color: #000000;
}
.eoc-container .eoc .dots {
  padding: 21px 11px 34px 5px;
  margin: 0;
  margin-left: auto;
  cursor: pointer;
}
.eoc-container .eoc .dots .dots-image {
  width: 90px;
  height: 20px;
}
.eoc-container .eoc .dots .edit-remove-div {
  z-index: 1;
  width: 150px;
  background-color: #f0f1f1;
  border-radius: 6px;
  margin-top: 13px;
}
.eoc-container .eoc:hover {
  background-color: #f0f1f1;
  /*box-shadow: 0 0 3px black;*/
}

.eoc-encounter-documents-container {
  width: calc(100% - 27px);
}

.eoc-tt {
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
}

.eoc-container-edit {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.eoc-container-edit .eoc-edit {
  width: 450px;
  height: 70px;
  background-color: #FFFFFF;
  /*border-right: 1px solid $border-eoc-color;
  border-bottom: 1px solid $border-eoc-color;*/
  border: none;
  /*.eoc-t {
      margin-top: 12px;
      margin-bottom: 7px;
      font-family: 'Nunito Sans', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 20px;
      color: $color-black;
  }*/
}
.eoc-container-edit .eoc-edit .eoc-logo {
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 14px;
  width: 19px;
  height: 25px;
}
.eoc-container-edit .eoc-edit .mr21 {
  margin-right: 21px;
}
.eoc-container-edit .eoc-edit .eoc-ttt {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  margin-top: 12px;
  margin-bottom: 7px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden !important;
}
.eoc-container-edit .eoc-edit .numofentries {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.833333px;
  text-transform: uppercase;
  color: #565656;
  margin-right: 21px;
}
.eoc-container-edit .eoc-edit .numofentries em {
  color: #000000;
}

.enctypescontainer {
  width: auto !important;
  padding-right: 20px;
}
.enctypescontainer .encounters-title-container {
  overflow: hidden;
}
.enctypescontainer .encounters-title-container .encounters-title {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #000000;
  margin-bottom: 0;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 7px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 180px;
  padding-top: 10px;
  line-height: 20px;
}

.plus-enc-button {
  color: #fe5959;
}

.plus-enc-label {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  color: #FE5959;
  margin-left: 5px;
}

.btn-add-eoc {
  margin-bottom: auto;
  padding: 0px;
  width: max-content;
  padding-left: 5px;
  box-shadow: none !important;
}

.mt-auto {
  margin-top: auto !important;
  margin-left: 5px !important;
}

.red-white {
  background: none;
  color: #fe5959;
}

.documentation-details-container .encounter-documentation {
  background-color: #F9F9F9;
  padding: 12px 0px;
  height: calc(100vh - 218px);
  overflow-y: auto;
  min-width: 100%;
}
.documentation-details-container .encounter-documentation .documents-div .documents-p {
  padding-bottom: 5px;
  padding-top: 6px;
  margin-bottom: 0;
  margin-left: 19px;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  cursor: pointer;
}
.documentation-details-container .encounter-documentation .documents-div .documents-p:hover {
  color: #1C94A3;
}
.documentation-details-container .encounter-documentation .documents-div .documents-icon {
  margin: 10px 0px 8px 19px;
}
.documentation-details-container .encounter-documentation .documents-container-expandable .documents-div-expandable {
  background-color: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(191, 191, 191, 0.5);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 3px;
  cursor: pointer;
}
.documentation-details-container .encounter-documentation .documents-container-expandable .document-header-expandable {
  padding-left: 8px;
}
.documentation-details-container .encounter-documentation .documents-container-expandable .document-expandable {
  background-color: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(191, 191, 191, 0.5);
  border-radius: 4px 4px 0px 0px;
  margin-bottom: 3px;
  padding-bottom: 24px;
  display: none;
}
.documentation-details-container .encounter-documentation .documents-container-expandable .document-expandable .document-expandable-title {
  padding-left: 19px;
  background-color: #FFFFFF;
  margin-bottom: 3px;
  cursor: pointer;
}
.documentation-details-container .encounter-documentation .documents-container-expandable .document-expandable .document-expandable-title .document-expandable-title-p {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 10px;
}
.documentation-details-container .encounter-documentation .documents-container-expandable .document {
  padding-left: 19px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(191, 191, 191, 0.5);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 3px;
  cursor: pointer;
  /*height: 40px;*/
}
.documentation-details-container .encounter-documentation .documents-container-expandable .circle-div {
  background: #1C94A3;
  border-radius: 50%;
  /* width: 22px; */
  /* height: 22px; */
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  padding: 7px 9px 5px 9px;
  min-width: 32px;
  min-height: 32px;
  text-align: center;
}
.documentation-details-container .encounter-documentation .documents-container-expandable .circle-div .cardinal {
  color: #FFFFFF;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  margin: 0px;
}
.documentation-details-container .encounter-documentation .documents-container-expandable .numberCircle {
  margin-right: 8px;
  margin-top: 16px;
  margin-bottom: auto;
  border-radius: 50%;
  width: 26px !important;
  height: 26px !important;
  padding: 5px;
  background: #1C94A3;
  color: #FFFFFF;
  text-align: center;
  font: 14px Arial, sans-serif;
  flex: 0 0 auto;
}
.documentation-details-container .encounter-documentation .documents-container-expandable .number-circle-orange {
  background: #FF9900;
}
.documentation-details-container .encounter-documentation .documents-container-expandable .forminstance-title {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  /*line-height: 18px;*/
  color: #000000;
  margin-top: 16px;
  margin-bottom: 10px;
  padding-right: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 19px;
}
.documentation-details-container .encounter-documentation .documents-container-expandable .edit-view-icons-div {
  margin-right: 10px;
  margin-left: auto;
}
.documentation-details-container .encounter-documentation .documents-container-expandable .edit-view-icons-div .edit {
  width: 13px;
  height: 13px;
  margin-top: 19px;
  margin-bottom: auto;
  cursor: pointer;
}
.documentation-details-container .encounter-documentation .documents-container-expandable .edit-view-icons-div .gray-pencil {
  content: url("../img/icons/edit.svg");
}
.documentation-details-container .encounter-documentation .documents-container-expandable .edit-view-icons-div .blue-pencil {
  content: url("../img/icons/edit_pencil.svg");
}
.documentation-details-container .encounter-documentation .documents-container-expandable .edit-view-icons-div .blue-pencil-task {
  content: url("../img/icons/edit_pencil.svg");
}
.documentation-details-container .encounter-documentation .documents-container-expandable .edit-view-icons-div .gray-eye {
  content: url("../img/icons/eye_fill_gray.svg");
}
.documentation-details-container .encounter-documentation .documents-container-expandable .edit-view-icons-div .blue-eye {
  content: url("../img/icons/eye_fill_blue.svg");
}
.documentation-details-container .encounter-documentation .documents-container-expandable .edit-view-icons-div .view {
  width: 13px;
  height: 13px;
  margin-left: 10px;
  margin-top: 19px;
  margin-bottom: auto;
  cursor: pointer;
}
.documentation-details-container .encounter-documentation .quick-access-container {
  margin-bottom: 19px;
}
.documentation-details-container .encounter-documentation .quick-access-container .quick-access-title-div {
  margin: 22px 10px 10px 10px;
}
.documentation-details-container .encounter-documentation .quick-access-container .quick-access-title-div .quick-access-title-p {
  margin-bottom: 0px;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}
.documentation-details-container .encounter-documentation .quick-access-container .quick-access-div {
  margin: 0px 10px 5px 10px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(191, 191, 191, 0.5);
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  height: 70px;
}
.documentation-details-container .encounter-documentation .quick-access-container .quick-access-div .quick-access-title {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  margin-bottom: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden !important;
  padding: 15px 35px 0px 13px;
}
.documentation-details-container .encounter-documentation .quick-access-container .quick-access-div .quick-access-pinned-icon {
  width: 13px;
  height: 14px;
  margin-top: 9.5px;
  right: 10px;
  position: absolute;
}
.documentation-details-container .encounter-documentation .browse-document {
  background-color: #EBFDFF;
  border: 1px dashed #1C94A3;
  border-radius: 4px;
  height: 50px;
  margin: 0px 10px 10px 10px;
  cursor: pointer;
}
.documentation-details-container .encounter-documentation .browse-document .browse-document-icon {
  padding: 13px 0px 12px 18px;
}
.documentation-details-container .encounter-documentation .browse-document .browse-document-title {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  padding-top: 15px;
  padding-bottom: 9px;
  width: 256px;
  padding-left: 15px;
}
.documentation-details-container .forminstance-details {
  width: calc(100% + 15px);
  margin-right: -57px;
}
.documentation-details-container .forminstance-details .chapters-container {
  overflow-y: auto;
  height: calc(100vh - 301px);
}
.documentation-details-container .forminstance-details .guide-div-container {
  margin-left: 21px;
  justify-content: space-between;
  margin-bottom: 2px;
  border-radius: 5px 5px 0px 0px;
  background-color: #ECEEEF;
}
.documentation-details-container .forminstance-details .guide-div-container .chapter-icon-title-div .chapter-icon {
  padding: 16px 15px 16px 16px;
}
.documentation-details-container .forminstance-details .guide-div-container .chapter-icon-title-div .chapter-title {
  margin: 0;
  padding-top: 15px;
}
.documentation-details-container .forminstance-details .guide-div-container .arrow-icon {
  width: 40px;
  height: 40px;
  margin-top: 13px;
  margin-right: 2px;
}
.documentation-details-container .forminstance-details .guide-div {
  margin-left: 21px;
}
.documentation-details-container .forminstance-details .guide-div .guide-title-div {
  background: #ECEEEF;
}
.documentation-details-container .forminstance-details .guide-div .guide-title-div .patient-info-p {
  padding: 15px 5px 15px 49px;
}
.enc-form-instance {
  text-align: right;
  margin-bottom: 10px;
  right: 0;
}
.enc-form-instance button {
  height: 40px;
  width: 40px;
  padding: unset;
}

.margin-right-5 {
  margin-right: 5px;
}

.margin-left-15 {
  margin-left: 15px;
}

.form-container {
  margin-top: 10px;
}
.form-container .f-end {
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
}
.form-container .f-end .form-title {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: right;
  color: #000000;
  margin-bottom: auto;
  margin-top: auto;
}
.form-container .f-end .form-input {
  border: 1px solid #D4D4D4;
  border-radius: 4px;
  margin-right: 69px;
  margin-left: 13px;
  width: 612px;
  padding-left: 19px;
  padding-top: 10px;
  padding-bottom: 11px;
}
.form-container .f-end .form-icons {
  margin-bottom: auto;
  margin-top: auto;
}
.form-container .f-end .form-icons .form-icon {
  margin-left: 12px;
}

.left {
  text-align: left !important;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 13px;
  padding-left: 0;
  padding-right: 0;
  color: #000000;
  padding-top: 4px;
}

.blue {
  color: #1C94A3;
}

.overh {
  overflow: hidden;
}
.overh .descinput {
  width: 736px;
  height: 70px;
}
.overh .title-div {
  margin-top: 44px;
  margin-bottom: 0px;
}
.overh .title-div .title-p {
  margin-bottom: 0px;
}
.overh .margin-bottom-17 {
  margin-bottom: 17px;
}
.overh .cancel {
  text-decoration: none !important;
}

.enc-overh {
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
  overflow-y: auto;
}

.eoc-content-advanced {
  width: 838px;
  margin: auto;
  border-radius: 9px;
  max-height: 94vh !important;
  height: auto !important;
}

.eoc-content {
  height: 548px !important;
}

.hide-div {
  display: none;
}

.progress {
  width: 129px;
  height: 5px;
  padding-top: 6px;
  margin-top: 7px;
}

.progress-green {
  background-color: #76CA5B;
}

.progress-yellow {
  background-color: #ffd700;
}

.progress-red {
  background-color: #ff6347;
}

.dots-dropdown {
  margin-left: auto;
}

.pointer {
  cursor: pointer;
}

.padding-10 {
  padding-right: 10px;
}

.dropmenu {
  transform: translate3d(-139px, 30px, 0px) !important;
}

.mr {
  margin-right: 10px;
}

.gray-accordion-header {
  color: black !important;
  background-color: #ECEEEF !important;
  font-weight: 600;
}
.gray-accordion-header::after {
  color: black !important;
}

.add-btn-div {
  text-align: right;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
}
.add-btn-div .btn-add-enc {
  background-color: #fe5959 !important;
  height: 40px;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  border: 0px;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.add-btn-div .btn-add-enc:hover {
  color: #FFFFFF;
}
.add-btn-div .btn-add-doc {
  border-radius: 4px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.add-btn-div .add-enc {
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.btn-encounter {
  text-align: center;
  margin-right: 0;
}

.btn-documentation {
  background: #1C94A3;
  color: #FFFFFF;
  margin-left: 5px;
}

.btn-documentation:hover {
  color: #FFFFFF;
}

.btn-add-div-style {
  margin-right: 45px;
  min-width: fit-content;
  margin-left: auto;
}

.fa-info-circle {
  color: #1C94A3;
}

.encounter-div {
  margin-right: 7px;
  cursor: pointer;
  width: 153px;
  height: 30px;
}
.encounter-div .encounter-p-title {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.833333px;
  text-transform: uppercase;
  color: #565656;
  padding: 8px 0px 8px 9px;
  margin-bottom: 0px;
}
.encounter-div .rotate {
  transform: rotate(90deg);
  width: 20px !important;
  margin-top: 4px !important;
  padding: 4px;
}

.encounter-div:active {
  background-color: #f0f1f1;
  border-radius: 4px;
}

.custom-rotate {
  display: unset !important;
  width: inherit;
  float: inherit;
  padding: inherit;
  margin: inherit;
}

.encounters {
  margin-top: 8px !important;
  margin-bottom: 8px;
  border-bottom: none;
}

.active-border {
  background-color: #f0f1f1;
  border-radius: 4px;
}

.hidden-element {
  display: none !important;
}

.active-encounter {
  border-bottom: 3px solid #1C94A3 !important;
}

.bottom-border {
  border-bottom: 1px solid #DFDFDF;
  margin-right: -27px;
}

.document-status-div {
  padding-right: 18px;
  width: 174px;
}
.document-status-div .document-status {
  margin-right: 4px;
}

.button-partial {
  margin-right: 10px;
  margin-top: 20px;
  padding-top: 8.5px;
  border-top: 1px solid #E5E5E5;
}

.height-auto {
  height: auto !important;
}

.margin-top-2 {
  margin-top: 2px !important;
}

.margin-bottom-unset {
  margin-bottom: 0px !important;
}

.margin-top-bottom-unset {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

/*.enc-container {
    width: calc(100% - 193px);
    margin-right: -30px;
}*/
.enc-container {
  width: 100%;
  margin-right: -57px;
}

.overflow-hidden {
  overflow: hidden;
}

.eoc-t {
  margin-top: 12px;
  margin-bottom: 7px;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color: #000000;
  line-height: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 40px;
}

.wrap {
  flex-wrap: wrap;
}

.view-a {
  padding-left: 11px !important;
}
.view-a .view-svg-size {
  width: 15px;
  height: 26px;
  margin-right: 5px;
}

.dots-eoc {
  margin-left: 0px;
  width: 45px;
}

.show-encounters-button {
  position: absolute;
  right: 15px;
  max-height: 35px;
}

.back-to-all-eoc {
  margin-top: 2px;
  margin-left: 15px !important;
  color: #1C94A3;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  line-height: 19px;
}

.patient-content-basic-info {
  width: 30%;
  background-color: #F2F4F5;
  border-right: 1px solid #ced4da;
}
.patient-content-basic-info .patient-content-basic-info-row {
  display: flex;
}
.patient-content-basic-info .patient-content-basic-info-row .patient-content-basic-info-row-property {
  width: 50%;
  font-size: 10px !important;
  font-weight: 700 !important;
}
.patient-content-basic-info .patient-content-basic-info-row > .patient-basic-info-text-style {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px 20px 10px 40px;
  font-size: 13px;
}

.patient-content-encounters {
  width: 100%;
}

.patient-encounters-border {
  border: 1px solid #ced4da;
}
.patient-encounters-border.encounters-for-selected-patient {
  border-left: unset;
  border-top: unset;
  border-right: unset;
}

.row-showing-encounters {
  background-color: #E8FCFF !important;
  border-left: 3px solid #1C94A3;
}

.row-patient-preview:hover {
  background-color: #E8FCFF !important;
}

.patient-content-encounters .table-content-row:hover {
  background-color: #F2F4F5 !important;
}

.row-hidden {
  display: none;
}

.table-layout-fixed {
  table-layout: fixed;
}

.pl-40 {
  padding-left: 40px !important;
}

.td-show-encounter {
  background-color: #E8FCFF;
}

#trialsContainer .selected-trials {
  padding-left: 8px;
  padding-right: 8px;
  background: #E8FCFF;
  border-radius: 4px;
  justify-content: flex-start;
  align-items: center;
  gap: 9px;
  display: inline-flex;
  min-height: 1.5rem;
  height: auto;
}
#trialsContainer .selected-trials:hover {
  border-radius: 4px;
  background: #D6F4F9;
}
#trialsContainer .selected-trials-text {
  text-align: left;
  color: black;
  font-size: 13px;
  font-family: Nunito Sans, sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  overflow-wrap: anywhere;
}
#trialsContainer .ct-remove {
  width: 0.5rem;
}

.trials-dropdown-menu {
  border-radius: 0.5rem !important;
}
.trials-dropdown-menu .no-trial-found {
  display: grid;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}
.trials-dropdown-menu .no-trial-found img {
  height: 4rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0.5rem;
}

.trial-item {
  border-left: 3px solid white;
  width: 100%;
  height: 100%;
  align-items: center;
  gap: 0.7rem;
  display: inline-flex;
}
.trial-item:hover {
  border-left: 3px solid #1C94A3;
  background-color: #F9F9F9 !important;
}
.trial-item .trial-title {
  color: black;
  font-size: 14px;
  font-family: Nunito Sans, sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  overflow-wrap: anywhere;
}
.trial-item .load-more-ct {
  color: #1c94a3;
}
.trial-item .load-more-ct:hover {
  text-decoration: underline;
}

#searchedTrialsContainer {
  max-height: 12rem;
  overflow-y: auto;
}
#searchedTrialsContainer::-webkit-scrollbar-track {
  background-color: white;
}

.clinical-trial-search-container {
  border-bottom: 1px #F3F3F3 solid;
  align-items: center;
}
.clinical-trial-search-container .search-input {
  border: none;
  outline: none;
}

.encounters-fix-head .table-header-row {
  position: relative;
  z-index: 2;
}
.encounters-fix-head .encounter-dropdown .dots {
  position: relative;
  z-index: 1;
}

.doctors {
  margin: 20px 0px;
  border-top: 1px solid #E5E5E5;
  padding-top: 10px;
  margin-right: 10px;
}
.doctors .div-header {
  padding-left: 5px;
  font-weight: 700;
  font-size: 18px;
}
.doctors .encounter-doctor-btn-div {
  margin: 25px 0px 0px 0px !important;
  width: 10%;
  text-align: center;
}
.doctors .encounter-doctor-btn-div .btn-encounter-doctor {
  background-color: #fe5959 !important;
  height: 30px;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  border: 0px;
  border-radius: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.doctors .encounter-doctor-btn-div .btn-encounter-doctor:hover {
  color: #FFFFFF;
}

.patient-basic-info {
  font-size: 10px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0.8333333135px;
  text-align: left;
  margin-bottom: 4px;
  padding-right: 20px;
  color: #565656;
}

.patient-basic-info-value {
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  padding-right: 20px;
}

.patient-basic-info-div {
  margin-top: 8px;
  margin-right: 20px;
  border-right: 1px solid #EBEBEB;
}

.patient-basic-button {
  background-color: #ffffff;
  border: none;
  color: #1c94a3;
  outline: none !important;
  padding: 0;
}

.patient-basic-content {
  margin-left: -12px;
  margin-bottom: 16px;
}

.patient-basic-button-div {
  border: none;
  display: flex;
  align-items: center;
}

.eoc-info-div {
  margin-left: auto;
}
.eoc-info-div .select2-container {
  min-height: 0 !important;
}
.eoc-info-div .select2-selection {
  min-height: 32px !important;
}
.eoc-info-div .select2-container .select2-selection--single {
  height: 0 !important;
}
.eoc-info-div .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 0 !important;
}
.eoc-info-div .select2-selection__arrow {
  height: 20px !important;
}

.eoc-basic-info {
  font-size: 10px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0.8333333135px;
  text-align: left;
  margin-bottom: 4px;
  color: #565656;
}

.eoc-select {
  border: 1px solid #ced4da;
  border-radius: 4px;
  width: 100%;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 16px;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  padding-right: 22px;
}
.eoc-select:focus {
  color: #495057;
  background-color: white;
  border-color: #4dbbc8;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(77, 187, 200, 0.25) !important;
}
.eoc-select::after {
  color: palevioletred;
}

.eoc-arrow-select {
  background-position-x: calc(100% - 8px);
}

.add-button {
  margin: 0;
  position: absolute;
  right: 0;
}

.margin-top-32 {
  margin-top: 32px;
}

.margin-left-8 {
  margin-left: 8px;
}

.margin-right-8 {
  margin-right: 8px;
}

.patient-documents {
  padding-right: 8px;
}

.hide-btn {
  position: absolute;
  right: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #1C94A3;
  cursor: pointer;
}

.show-btn {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #1C94A3;
  cursor: pointer;
  padding-right: 8px;
}

.visibility-hidden {
  visibility: hidden;
}

.hide-border {
  border: 1px solid #1C94A3;
  border-radius: 4px;
  padding: 2.5px;
}

.show-img {
  position: relative;
  top: -1px;
}

.no-document-text {
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  margin-top: 16px;
}

.select-document-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  margin-top: 8px;
}

.search-doc-icon {
  position: absolute;
  left: 16px;
  top: 4px;
  cursor: pointer;
}

.document-search-input {
  padding-top: 6.5px;
  padding-bottom: 6.5px;
  padding-left: 40px;
  padding-right: 6px;
  height: 32px;
  margin-bottom: 8px;
}

.clinical-trial-input {
  line-height: 19px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: left;
}

.clinical-trial-button {
  padding-top: 9.5px !important;
  padding-bottom: 9.5px !important;
}

.last-task-margin {
  margin-bottom: 16px !important;
  margin-top: 0 !important;
}

.show-btn-position {
  position: relative;
  padding-bottom: 30px;
  padding-top: 12px;
}

.no-eoc-content {
  width: 100%;
}

.patient-view-synopic-view {
  margin-bottom: 2px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15px;
}

.hide-overflow-y {
  overflow-y: hidden !important;
}

.no-document-result {
  text-align: center;
  padding: 8px 0px 16px 0px;
}

.no-document-result-text {
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  padding-top: 8px;
}

.btn-add-empty-task {
  position: relative;
  text-align: center;
}

.no-task-border {
  border-top: 1px solid #DFDFDF;
}

.ecnounter-dropdown-menu {
  min-width: max-content;
}

.add-eoc-button {
  width: fit-content;
  margin-bottom: 13px;
}

.add-enc-button {
  margin: 0;
  margin-left: 8px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.padding-top-12 {
  padding-top: 12px;
}

@media screen and (min-width: 1441px) {
  .hide-on-large-screen {
    display: none;
  }
}
.patient-background-grey {
  margin-top: -30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  margin-right: -30px;
  margin-left: -30px;
  background-color: #f9f9f9;
  padding-top: 30px;
  min-height: calc(100vh - 46px);
}

.edit-patient .patient-background-grey {
  margin-top: 0px;
  padding-top: 0px;
  min-height: unset;
}
.edit-patient .identifier-space {
  width: 56%;
}
.edit-patient .telecom-space {
  width: 69%;
}
.edit-patient .general-partial {
  width: 28%;
}
.edit-patient .communication-part {
  width: 50%;
}
@media (max-width: 1760px) {
  .edit-patient .edit-patient-left {
    width: 50%;
    padding-right: 9.5px;
  }
  .edit-patient .edit-patient-right {
    width: 50%;
    padding-left: 9.5px;
  }
  .edit-patient .identifier-space {
    width: 100%;
    margin-left: 0px;
  }
  .edit-patient .telecom-space {
    width: 100%;
    margin-left: 0px;
  }
  .edit-patient .general-partial {
    width: 100%;
    display: contents;
  }
  .edit-patient .communication-part {
    width: 50%;
  }
  .edit-patient .contact-info {
    width: 100%;
  }
  .edit-patient .telecom-contact-space {
    margin-left: 0px;
    width: 100%;
  }
}

.left-arr-scr {
  cursor: pointer;
  content: url("../img/icons/arrow_scroll_left.svg");
  /*z-index: 1;*/
  width: 10px !important;
  height: inherit;
  position: absolute;
  top: 116px;
}

.right-arr-scr {
  cursor: pointer;
  content: url("../img/icons/arrow_scroll_right.svg");
  /*z-index: 1;*/
  width: 10px !important;
  height: inherit;
  position: absolute;
  right: 5px;
  top: 116px;
}

.single-document-item, .suggested-forms .single-pinned-item {
  padding: 27px 34px 23px 34px;
  border: dashed 1px #bababa;
  border-radius: 14px;
  margin-top: 12px;
  margin-right: 12px;
  display: inline-block;
  width: calc(25% - 16px);
  cursor: pointer;
  vertical-align: top;
  background-color: white;
}
.single-document-item .icon, .suggested-forms .single-pinned-item .icon {
  background-image: url("img/icons/doc_silver.svg");
  background-repeat: no-repeat;
  width: 31px;
  height: 40px;
}
.single-document-item > .title, .suggested-forms .single-pinned-item > .title {
  padding-top: 11px;
  padding-bottom: 28px;
  border-radius: 14px;
  font-weight: 700;
  color: #1c94a3;
  height: 170px;
  font-size: 14px;
}
.single-document-item:hover:not(.add-new-document-item-button), .suggested-forms .single-pinned-item:hover:not(.add-new-document-item-button), .single-document-item.active, .suggested-forms .active.single-pinned-item {
  background-color: #1c94a3;
  color: white;
  border: solid 1px #1c94a3;
}
.single-document-item:hover:not(.add-new-document-item-button) > .title, .suggested-forms .single-pinned-item:hover:not(.add-new-document-item-button) > .title, .single-document-item.active > .title, .suggested-forms .active.single-pinned-item > .title {
  color: white;
}
.single-document-item:hover:not(.add-new-document-item-button) .icon, .suggested-forms .single-pinned-item:hover:not(.add-new-document-item-button) .icon, .single-document-item.active .icon, .suggested-forms .active.single-pinned-item .icon {
  background-image: url("img/icons/doc_white.svg");
}
.single-document-item:hover:not(.add-new-document-item-button) .select-button, .suggested-forms .single-pinned-item:hover:not(.add-new-document-item-button) .select-button, .single-document-item.active .select-button, .suggested-forms .active.single-pinned-item .select-button {
  background-image: url("img/icons/arrow_select_white.svg");
  background-position-x: 60px;
  background-position-y: 6px;
}
.single-document-item:hover:not(.add-new-document-item-button) .select-button.view, .suggested-forms .single-pinned-item:hover:not(.add-new-document-item-button) .select-button.view, .single-document-item.active .select-button.view, .suggested-forms .active.single-pinned-item .select-button.view {
  background-position-x: 52px;
  background-position-y: 7px;
}
.single-document-item:hover:not(.add-new-document-item-button) .datetime, .suggested-forms .single-pinned-item:hover:not(.add-new-document-item-button) .datetime, .single-document-item.active .datetime, .suggested-forms .active.single-pinned-item .datetime {
  color: white;
}
.single-document-item.active .unselect, .suggested-forms .active.single-pinned-item .unselect {
  display: block;
  background-image: url("img/icons/arrow_select_white.svg");
  background-repeat: no-repeat;
}
.single-document-item.active .select-button:not(.unselect), .suggested-forms .active.single-pinned-item .select-button:not(.unselect) {
  background-image: url("img/icons/arrow_select_white.svg");
  background-repeat: no-repeat;
  display: none;
}
.single-document-item.add-new-document-item-button, .suggested-forms .add-new-document-item-button.single-pinned-item {
  border: dashed 1px #1c94a3;
  background-color: #ebfdff;
}
.single-document-item.add-new-document-item-button .icon, .suggested-forms .add-new-document-item-button.single-pinned-item .icon {
  width: 42px;
  background-image: url("img/icons/browse.svg");
}
.single-document-item.add-new-document-item-button > .title, .suggested-forms .add-new-document-item-button.single-pinned-item > .title {
  color: #1c94a3;
  height: 191px;
}
.single-document-item .icon-wrapper, .suggested-forms .single-pinned-item .icon-wrapper {
  display: flex;
  align-items: center;
}
.single-document-item .icon-wrapper .datetime, .suggested-forms .single-pinned-item .icon-wrapper .datetime {
  font-weight: 700;
  color: #1c94a3;
  margin-left: 10px;
  font-size: 13px;
}

.suggested-forms {
  padding-top: 40px;
  display: block;
  vertical-align: top;
}
.suggested-forms .suggested-forms-container {
  padding-top: 14px;
  padding-bottom: 40px;
}
.suggested-forms .single-pinned-item {
  position: relative;
}
.suggested-forms .single-pinned-item .icon {
  background-size: cover;
  height: 41px;
  background-image: url("img/icons/pinned_doc.svg");
}
.suggested-forms .single-pinned-item .pinned-icon {
  position: absolute;
  right: 15px;
  top: 27px;
  background-image: url("img/icons/pinned_red.svg");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}
.suggested-forms .single-pinned-item:hover:not(.add-new-document-item-button) .icon, .suggested-forms .single-pinned-item.active .icon {
  background-image: url("img/icons/pinned_doc_white.svg");
}
.suggested-forms .single-pinned-item .icon {
  background-image: url("img/icons/pinned_doc.svg");
}
.suggested-forms > .title {
  font-size: 16px;
  font-weight: 700;
  color: #000000;
}
