<div class="no-result-content">
    <img alt="" src="/css/img/icons/no_documents.svg">
    <div class="no-document-text">@sReportsV2.Cache.Resources.TextLanguage.NoDocumentSelected</div>
    <div class="select-document-text">@sReportsV2.Cache.Resources.TextLanguage.SelectDocument.</div>
</div>