<div class="form-container">
    <div class="f-end">
        <p class="form-title">Family/Last name</p>
        <input class="form-input" id="" value="" placeholder="Enter: Family/Last Name">
        <div class="form-icons">
            <img alt="" class="form-icon" src="/css/img/icons/info_grey.svg" />
            <img alt="" class="form-icon" src="/css/img/icons/regex_question.svg" />
            <img alt="" class="form-icon" src="/css/img/icons/definition_grey.svg" />
            <img alt="" class="form-icon" src="/css/img/icons/repeat_grey.svg" />
        </div>
    </div>
    <div class="f-end">
        <p class="form-title">Date of birth</p>
        <input class="form-input" id="" value="" placeholder="@ViewBag.DateFormatDisplay">
        <div class="form-icons">
            <img alt="" class="form-icon" src="/css/img/icons/info_grey.svg" />
            <img alt="" class="form-icon" src="/css/img/icons/regex_question.svg" />
            <img alt="" class="form-icon" src="/css/img/icons/definition_grey.svg" />
            <img alt="" class="form-icon" src="/css/img/icons/repeat_grey.svg" />
        </div>
    </div>
    <div class="f-end">
        <p class="form-title">Given name(s)</p>
        <input class="form-input" id="" value="" placeholder="Enter: Given name(s)">
        <div class="form-icons">
            <img alt="" class="form-icon" src="/css/img/icons/info_grey.svg" />
            <img alt="" class="form-icon" src="/css/img/icons/regex_question.svg" />
            <img alt="" class="form-icon" src="/css/img/icons/definition_grey.svg" />
            <img alt="" class="form-icon" src="/css/img/icons/repeat_grey.svg" />
        </div>
    </div>
    <div class="f-end">
        <p class="form-title">Patient identifiers</p>
        <input class="form-input" id="" value="" placeholder="Enter: Patient identifiers">
        <div class="form-icons">
            <img alt="" class="form-icon" src="/css/img/icons/info_grey.svg" />
            <img alt="" class="form-icon" src="/css/img/icons/regex_question.svg" />
            <img alt="" class="form-icon" src="/css/img/icons/definition_grey.svg" />
            <img alt="" class="form-icon" src="/css/img/icons/repeat_grey.svg" />
        </div>
    </div>
    <div class="f-end">
        <p class="form-title">Date of request</p>
        <input class="form-input" id="" value="" placeholder="@ViewBag.DateFormatDisplay">
        <div class="form-icons">
            <img alt="" class="form-icon" src="/css/img/icons/info_grey.svg" />
            <img alt="" class="form-icon" src="/css/img/icons/regex_question.svg" />
            <img alt="" class="form-icon" src="/css/img/icons/definition_grey.svg" />
            <img alt="" class="form-icon" src="/css/img/icons/repeat_grey.svg" />
        </div>
    </div>
    <div class="f-end">
        <p class="form-title">Accession/Laboratory number</p>
        <input class="form-input" id="" value="" placeholder="Enter: Accession/Laboratory number">
        <div class="form-icons">
            <img alt="" class="form-icon" src="/css/img/icons/info_grey.svg" />
            <img alt="" class="form-icon" src="/css/img/icons/regex_question.svg" />
            <img alt="" class="form-icon" src="/css/img/icons/definition_grey.svg" />
            <img alt="" class="form-icon" src="/css/img/icons/repeat_grey.svg" />
        </div>
    </div>
</div>
