.smaragd-logo {
  color: darkgreen;
  font-weight: 600;
}
.smaragd-logo img {
  width: 40px;
}
.smaragd-logo.header-logo {
  margin-left: 10px;
  display: inline;
}
.smaragd-logo.header-logo img {
  margin-left: 5px;
}
.smaragd-logo.in-login span {
  font-size: 25px;
}
.smaragd-logo.in-login img {
  margin-left: -3px;
}

.width-auto {
  width: auto !important;
}
