
@using sReportsV2.DTOs.Form.DataOut;
@using sReportsV2.Common.Extensions;
@using sReportsV2.DTOs.Field.DataOut;
@model FieldCodedDataOut
@{
    bool isChapterReadonly = ViewBag.Chapter;
    string fieldSetId = ViewBag.FieldSetId;
}
<fieldset id="@Model.Id">
    <div class="field-group">
        <div for="sel-@Model.Id" class="filter-label form-label-size d-inline-block">
            <span class="comment-target-item" id="@Model.Id">@Html.Raw(Model.FullLabel)</span>
        </div>
        <div class="repetitive-field filter-input d-inline-block arrow-select">
            <select id="sel-@Model.Id"
                    name="sel-@Model.Id"
                    class="form-element-field"
                    disabled
                    >
                <option value="" class="form-select-placeholder" data-itemtype="fieldvalue"></option>
            </select>
        </div>
        @await Html.PartialAsync("~/Views/Form/Common/FieldButtonGroup.cshtml", Model)
    </div>
</fieldset>

